xml/clasifi_motogp/motogp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clasificaciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="clasificación" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="posición"/>
              <xs:element type="xs:string" name="país_piloto"/>
              <xs:element type="xs:string" name="piloto"/>
              <xs:element type="xs:string" name="equipo"/>
              <xs:element type="xs:byte" name="puntos"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>